{% extends 'base.html' %}

{% block body-block %}

<body>
    <div class="container">
        <h3 style="font-family: Verdana; padding-bottom: 35px;"><b>{{ state }}</b></h3>
        <div>
            {% autoescape off %}
                {{ cases_line_graph }}
            {% endautoescape %}
        </div>
        <!-- Button trigger modal -->
        <button style="margin-bottom: 25px;" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#prediction">
          Prediction
        </button>

        <button style="margin-bottom: 25px;"type="button" class="btn btn-secondary" data-toggle="modal" data-target="#mailing">
            CSV
        </button>

        <!-- Modal -->
        <div class="modal fade" id="mailing" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Mail Data </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="" method="get">
                    {% csrf_token %}
                  <div class="form-group">
                    <label for="text">Name</label>
                    <input type="text" class="form-control" id="text" name="name-user" placeholder="Enter Your Name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email-id" placeholder="Enter Your Mail-ID">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <button type="submit" class="btn btn-outline-dark">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="prediction" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Prediction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  {% for i in today %}
                      <h5>{{ i.now }}</h5>
                      <li>Actual Cases  >>  <strong>{{ i.present }}</strong></li>
                      <li>Predicted Cases  >>  <strong>{{ i.future }}</strong></li>
                      <h4>Accuracy >>  <strong>{{ prediction }}%</strong></h4>
                  {% endfor %}
                  <br>
                  <h3>Future Predictions</h3>
                  {% for i in future_five %}
                      <li>{{ i.now }}   >>   <strong>{{ i.future }}</strong></li>
                  {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {% if india_joined %}
            <table id="each_detail_india" class="table table-bordered table-hover table-striped "
                   style="background-color: mistyrose" >
                <thead>
                    <tr>
                        <th scope="col" class="th-sm">Date</th>
                        <th scope="col" class="th-sm">Total Cases</th>
                        <th scope="col" class="th-sm">Cured</th>
                        <th scope="col" class="th-sm">Death</th>
                        <th scope="col" class="th-sm">Total Samples</th>
                        <th scope="col" class="th-sm">Positive Samples</th>
                        <th scope="col" class="th-sm">Negative Samples</th>
                    </tr>
                </thead>
                <tbody>
                    {% for state in india_joined %}
                        <tr>
                            <th scope="row">{{ state.date }}</th>
                            {% if state.total_cases == '0' %}
                                <th>{{ state.total_cases }}</th>
                            {% else %}
                                <th class="ora">{{ state.total_cases }}</th>
                            {% endif %}
                            {% if state.cured == '0' %}
                                <th>{{ state.cured }}</th>
                            {% else %}
                                <th  class="gre">{{ state.cured }}</th>
                            {% endif %}
                            {% if state.death == '0' %}
                                <th>{{ state.death }}</th>
                            {% else %}
                                <th class="red">{{ state.death }}</th>
                            {% endif %}
                            {% if state.total_samples == '0' %}
                                <th>{{ state.total_samples }}</th>
                            {% else %}
                                <th class="ora">{{ state.total_samples }}</th>
                            {% endif %}
                            {% if state.positive == '0' %}
                                <th>{{ state.positive }}</th>
                            {% else %}
                                <th  class="red">{{ state.positive }}</th>
                            {% endif %}
                            {% if state.negative == '0' %}
                                <th>{{ state.negative }}</th>
                            {% else %}
                                <th  class="gre">{{ state.negative }}</th>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</body>

{% endblock %}

{% block js %}

    <script>
        $(document).ready(function () {
            $('#each_detail_india').DataTable({
                'aLengthMenu' : [[5,10,15, -1], [5,10,15, "All"]],
                'iDisplayLength' :15,
                columnDefs: [
                    {orderable:false, targets:0}
                ],
                'order':[],
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>

{% endblock %}




