{% extends 'base.html' %}

{% block body-block %}

<div class="table-responsive">
<div class="container">
    <h3 style="font-family: Verdana; padding-bottom: 35px;"><b>COVID19</b></h3>

    {% autoescape off %}
        {{ bar_graph_new_cases }}
        <br>
        {{ line_graph_total_D_R }}
        <br>
        {{ world_map_total_cases }}
        <br>
    {% endautoescape %}

    <button style="margin-bottom: 25px;"type="button" class="btn btn-secondary" data-toggle="modal" data-target="#mailing">
        CSV
    </button>

    <!-- Modal -->
    <div class="modal fade" id="mailing" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Mail Data </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" method="get">
                {% csrf_token %}
              <div class="form-group">
                <label for="text">Name</label>
                <input type="text" class="form-control" id="text" name="name-user" placeholder="Enter Your Name">
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email-id" placeholder="Enter Your Mail-ID">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <button type="submit" class="btn btn-outline-dark">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% if world_daily %}
        <table id="covid_table" class="table   table-bordered table-hover table-striped  table-responsive w-auto "
               style="background-color: mistyrose">
            <thead>
                <tr>
                    <th scope="col" class="th-sm"><b>#</b></th>
                    <th scope="col" class="th-sm"><b>Country</b></th>
                    <th scope="col" class="th-sm"><b>Total Cases</b></th>
                    <th scope="col" class="th-sm"><b>New Cases</b></th>
                    <th scope="col" class="th-sm"><b>Total Deaths</b></th>
                    <th scope="col" class="th-sm"><b>New Deaths</b></th>
                    <th scope="col" class="th-sm"><b>Total Recovered</b></th>
                    <th scope="col" class="th-sm"><b>Active Cases</b></th>
                    <th scope="col" class="th-sm"><b>Population</b></th>
                </tr>
            </thead>
            <tbody>
                {% for data in world_daily %}
                    <tr>
                        <th scope="row">{{ data.id }}</th>
                        <td><b><a  style="color:black; " class = "country" href="{{ data.id }}">{{ data.country_name }}</a></b></td>
                        <td>{{ data.total_cases }}</td>
                        {% if 'N/A' in data.new_cases %}
                            <td>{{ data.new_cases }}</td>
                        {% else %}
                             <td class="ora">{{ data.new_cases }}</td>
                        {% endif %}
                        <td>{{ data.total_deaths }}</td>
                        {% if 'N/A' in data.new_deaths %}
                            <td>{{ data.new_deaths }}</td>
                        {% else %}
                             <td class="red">{{ data.new_deaths }}</td>
                        {% endif %}
                        {% if 'N/A' in data.total_recovered %}
                            <td>{{ data.total_recovered }}</td>
                        {% else %}
                             <td class="gre">{{ data.total_recovered }}</td>
                        {% endif %}
                        <td>{{ data.active_cases }}</td>
                        <td>{{ data.population }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Uh Oh!, Can't load the Data</p>
    {% endif%}
</div>
    </div>

{% endblock %}

{% block js %}

    <script>
        $(document).ready(function () {
        $('#covid_table').DataTable({
            'aLengthMenu' : [[5,10,15,20, -1], [5,10,15,20, "All"]],
            'iDisplayLength' :10
        });
        $('.dataTables_length').addClass('bs-select');
        });
    </script>

{% endblock %}





