{% extends 'base.html' %}

{% block body-block %}
{% load static %}
<body>
    <div class="container">
    <h2 style="font-family: Verdana; padding-bottom: 35px;"><b>COVID-INDIA</b></h2>
    {% autoescape off %}
        {{ stacked_bar_graph }}
        {{ india_map_total_cases }}
    {% endautoescape %}

        <button style="margin-bottom: 25px;"type="button" class="btn btn-secondary" data-toggle="modal" data-target="#mailing">
            CSV
        </button>

        <!-- Modal -->
        <div class="modal fade" id="mailing" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Mail Data </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="" method="get">
                    {% csrf_token %}
                  <div class="form-group">
                    <label for="text">Name</label>
                    <input type="text" class="form-control" id="text" name="name-user" placeholder="Enter Your Name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email-id" placeholder="Enter Your Mail-ID">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <button type="submit" class="btn btn-outline-dark">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>

    <h6><li style="list-style-type: disc">Updated on : {{ till_date }}</li></h6>
        {% if states %}
            <table id="each_state" class="table table-bordered table-hover table-striped tk"
                   style="background-color: mistyrose">
                <thead>
                    <tr>
                        <th scope="col" class="serial_no"><b>#</b></th>
                        <th scope="col" class="th-sm"><b>State/Union Territory</b></th>
                        <th scope="col" class="th-sm ora"><b>Total Cases</b></th>
                        <th scope="col" class="th-sm gre"><b>Total Recovered</b></th>
                        <th style="background-color: #ffff00;" scope="col" class="th-sm"><b>Active Cases</b></th>
                        <th scope="col" class="th-sm red" ><b>Total Deaths</b></th>
                    </tr>
                </thead>
                <tbody>
                    {% for sut in states %}
                        <tr>
                            <th scope="row" class="serial_no">{{ sut.no }}</th>
                            <td><b><a style="color: black" href="{{ sut.no }}">{{ sut.state_unionT }}</a></b></td>
                            <td>{{ sut.confirmed_total }}</td>
                            <td>{{ sut.cured }}</td>
                            <td>{{ sut.active_cases }}</td>
                            <td>{{ sut.death }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</body>

{% endblock %}

{% block js %}

    <script>
        $(document).ready(function () {
        $('#each_state').DataTable({
            'aLengthMenu' : [[5,10, 15,20, -1], [5,10,15,20, "All"]],
            'iDisplayLength' :-1

        });
        $('.dataTables_length').addClass('bs-select');
        });
    </script>

{% endblock %}
{#</html>#}

